.partner-list{
    text-align: center;
    box-sizing: border-box;
    padding: 15px 0;
    .partner-list-title{
        font-family: 'GoboldBold';
        font-size:16px;
        margin: 0 0 12px;
    }
    .partner-list-content{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .pl-block{
            width: 10%;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
            img{
                display:inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
        }
    }
    @media (max-width: 800px){
        display:none;
    }
}

#home-slider{
    .embed-responsive{
        height: 475px;
        width: 100%;
        background-size: cover !important;
        position: relative;
    }
    .home-slider-content{
        z-index: 49;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        text-align: right;
        .home-slider-content-inner{
            display:inline-block; 
            text-align: left;
            .hs-wrapper{
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
            }
            .home-slide-text{
                background: $green;
                width: 450px;
                height: 250px;
                color: #fff;
                padding: 25px;
                margin: 0 0 10px;
            }
            .home-slide-small{
                font-family: 'ProximaNova-LightIt';
                font-size: 17px;
                color:#fff;
            }
        }
    }
    .slick-dots{
        list-style: none;
        margin:0;
        padding:0;
        display: block;
        text-align: left;
        z-index: 50;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 29px;
        padding-right: 150px;
        li{
            float: right;
            margin: 3px;
            button{
                background: #919191;
                border-radius: 50%;
                font-size:0;
                width: 15px;
                height: 15px;
                border:0;
            }
            &.slick-active{
                button{
                    background: #fff;
                }
            }
        }
        
    }
}

.right-text-widget{
    .right-text-strap{
        background: #f5f5f5;
        display:flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 800px){
            flex-direction: column;
        }
        .col2{
            width: 50%;
            // display:flex;
            // justify-content: flex-start;
            @media (max-width: 800px) {
                width: 100% !important;
            }
            .text-wrapper{
                box-sizing: border-box;
                padding: 150px 30px;
                margin-right: auto;
                width: 700px;
                @media (max-width: 1400px){
                    padding: 50px 30px;
                    width: 100%;
                }
            }
            img{
                display: block;
            }
        }
    }
    &.white-bg{
        .right-text-strap{
            background: #fff;
        }
    }
}

.left-text-widget{
    .left-text-strap{
        background: #fff;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .col2{
            width: 50%;
            .text-wrapper{
                box-sizing: border-box;
                padding: 150px 30px;
                margin-left: auto;
                width: 700px;
            }
            img{
                display: block;
            }
        }
        @media (max-width: 800px) {
            flex-direction: column-reverse;
            .col2{
                width: 100% !important;
                .text-wrapper{
                    padding: 50px 30px;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
}


.multiple-column-layout{
    padding: 80px 0;
    &.grey-bg{
        background: #f6f6f6;
    }
    .mcl-header{
        margin: 0 0 25px;
    }
    .mcl-content{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        .mcl-col{
            .mcl-col-inner{
                .mcl-col-header{
                    margin: 0 0 25px;
                }
                .mcl-col-image{
                    margin: 0 0 25px;
                    text-align: center;
                    img{
                        display:inline-block;
                        vertical-align: middle;
                        max-width: 100%;
                    }
                }
                .mcl-col-footer{
                    margin: 0 0 25px;
                }
            }
            @media (max-width: 800px) {
                width: 100% !important;
            }
        }
    }
    // .mcl-footer{

    // }
}

.left-right-fullwidth-widget{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .col2{
        width: 50%;
        overflow:hidden;
        @media (max-width: 800px) {
            width: 100% !important;
        }
        &:first-child{
            .lr-block{
                justify-content: flex-end;
            }
        }
        &:nth-child(2){
            .lr-block{
                justify-content: flex-start;
            }
        }
        .lr-block{
            position:relative;
            width: 100%;
            padding: 140px 60px;
            display:flex;
            flex-wrap:wrap;
            box-sizing: border-box;
            &:before{
                content:"";
                position: absolute;
                z-index: 1;
                left:0;
                right:0;
                top:0;
                bottom:0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.75);
            }
            
            .lr-block-inner{
                text-align:left;
                z-index: 1;
                width: 600px;
                height: 250px;
                display:inline-block;
                color: #fff !important;
                .lr-title{
                    display: inline-block;
                    padding: 8px 15px;
                    background: $green;
                    color: #000;
                    margin: 0 0 15px;
                    font-family: 'ProximaNova-Bold';
                    font-size: 15px;
                }
                .lr-content{
                    margin: 0 0 15px;
                    h3{
                        color: #fff !important;
                    }
                }
            }
        }
    }
}


.home-course{
    text-align: center;
    .mcl-col-header{
        width: 60%;
    }
    .mcl-content{
        .mcl-col{
            &:hover{
                background: $green;
                color:#fff;
            }
            .mcl-col-inner{
                .mcl-col-image{
                    margin: 40px auto;
                    width: 80%;
                }
                .mcl-col-footer{
                    margin: 40px auto;
                    width: 80%;
                    h2{
                        margin: 0 0 10px;
                    }
                }
            }
        }
    }
    
}

.home-map{
    text-align: center;
    background: #f3f3f3;
    .cta{
        a{
            display:inline-block;
            margin:10px;
        }
    }
}

.home-education{
    .mcl-content{
        .mcl-col{
            &:hover{
                background: $green;
                color:#fff;
            }
            .mcl-col-inner{
                .mcl-col-image{
                    margin: 40px auto;
                    width: 80%;
                }
                .mcl-col-footer{
                    margin: 40px auto;
                    width: 80%;
                    h2{
                        margin: 0 0 10px;
                    }
                }
            }
        }
    }
    .cta{
        a{
            display:inline-block;
            margin:10px;
        }
    }
}

.home-banner-widget{
    margin: 0 0 30px;
    .banner-inner{
        display:flex;
        justify-content: flex-end;
        position:relative;
        @include top-left-triangle;
        .banner-text-wrapper{
            width: 40%;
            @media (max-width: 800px){
                width: 100%;
            }
            padding: 50px 70px 50px 150px;
            .banner-text{
                color: #fff;
                .w-btn{
                    margin-top: 50px;
                }
            }
        }
    }
}

#testimonial-slider{
    .t-slider-content{
        .t-slider-content-inner{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            height: 510px;
            overflow: hidden;
            .t-slider-image{
                width: 48%;
                overflow: hidden;
                text-align: left;
                align-self: center;
                img{
                    max-width: 100%;
                    display:inline-block;
                }
            }
            .t-slider-text{
                width: 49.5%;
                overflow: hidden;
                background: $green;
                color: #fff;
                padding: 5%;
                text-align: left;
                position: relative;
                @include top-left-triangle;
                .ts-name{
                    font-family: 'ProximaNova-Bold';
                    font-size: 32px;
                    line-height: 36px;
                    margin: 0 0 20px;
                }
                .ts-title{
                    font-family: 'ProximaNova-Bold';
                    font-size: 22px;
                    line-height: 26px;
                    margin: 0 0 20px;
                }
                .ts-words{
                    font-family: 'ProximaNova-RegularIt';
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0 0 20px;
                    .ts-quote{
                        font-family: 'ProximaNova-Bold';
                        &:last-child{
                            text-align: right;
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                flex-direction: column;
                height: auto;
                .t-slider-image{
                    width: 100%;
                    text-align: center;
                }
                .t-slider-text{
                    width: 100%;
                }
            }
        }
    }
    .slick-dots{
        list-style: none;
        margin:0;
        padding:0;
        display: block;
        text-align: left;
        z-index: 50;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 55px;
        padding-right: 150px;
        li{
            float: right;
            margin: 3px;
            button{
                background: #919191;
                border-radius: 50%;
                font-size:0;
                width: 15px;
                height: 15px;
                border:0;
            }
            &.slick-active{
                button{
                    background: #fff;
                }
            }
        }
        
    }
    .ts-bottom{
        font-family: 'ProximaNova-Bold';
        font-size: 16px;
        padding: 20px 0;
        border-bottom: 2px solid $green;
        margin: 0 0 25px;
        a{
            text-decoration: none;
            color: #000;
            &::after{
                content:">";
                display:inline-block;
                margin-left: 12px;
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }
}

.footer-subscription-widget{
    margin-top: 90px;
    .footer-subscription-wrapper{    
        padding: 60px 0 0;
       .fs-inner{
           display:flex;
           justify-content: space-around;
           flex-wrap: wrap;
           flex-direction: row;
           align-items: flex-end;
           height: 330px;
            .fs-image{
                width: 50%;
                position: relative;
                img{
                    position: absolute;
                    bottom: 0;
                    display: block;
                    left: 0;
                    max-width: 100%;
                }
            }
            .fs-content{
                width: 50%;
                align-self: center;
                color: #fff;
                .fs-content-inner{
                    box-sizing: border-box;
                    padding: 50px;
                    form{
                        width:100;
                    }
                    .w-btn{
                        margin-top: 20px;
                    }
                }
            }
       }
    }
    @media (max-width: 800px){
        margin-top:0;
        .footer-subscription-wrapper{
            padding: 0;
            .fs-inner{
                .fs-image{
                    display:none;
                }
                .fs-content{
                    width: 100%;
                }
            }
        }
   }
}

.footer-video-widget{
    .footer-video-strap{
        .footer-video-wrapper{
            text-align:center;
            display:flex;
            justify-content: space-around;
            align-items: center;
            height: 400px;
            .play-icon{
                font-size: 60px;            
                text-decoration: none;
                margin: 0 0 20px;
                i{
                    color: $green;
                }
            }
            .video-text{
                font-family: 'GoboldBold';
                color: #fff;
            }
        }
    }
}

.footer-contact-widget{
    .footer-contact-strap{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .col2{
            width: 50%;
            .footer-contact-content{
                color: #fff;
                padding: 40px 0;
                .fc-title{
                    font-family: 'ProximaNova-Bold';
                    font-size: 32px;
                    margin: 0 0 40px;
                }
                .fc-form{
                    input{
                        color: #fff;
                    }
                    input[type='submit']{
                        border:0;
                        background: $green;
                        color: #fff;
                        padding: 8px 15px;
                    }
                }
            }
            @media (max-width: 800px){
                width: 100%;
            }
        }
    }
}

.side-menu-widget{
    .side-menu-inner{
        border-top: 4px solid $green;
        width: 80%;
        .sidemenu-title{
            padding: 25px;
            font-family: 'ProximaNova-Bold';
            color: #313136;
            border-bottom: 1px solid #d0d0d0;
            font-size: 24px;
        }
        .sidemnu-content{
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    border-bottom: 1px solid #d0d0d0;
                    a{
                        text-decoration: none;
                        font-family: 'ProximaNova-Bold';
                        font-size: 20px;
                        display:block;
                        padding: 20px 25px;
                        color: #313136;
                        &:hover{
                            color: $green;
                        }
                    }
                    &.actived{
                        a{
                            background: #ededed;
                        }
                    }
                }
            }
        }
    }   
}

.page-header-widget{
    padding: 50px 0;
    margin: 0;
    .p-title{
        font-size: 40px;
        margin: 0 0 20px;
        font-family: 'GoboldBold';
        color: #fff;
    }
    .p-breadcrumbs{
        color: #fff;
        font-size: 16px;
        a{
            text-decoration: none;
            color:#fff;
        }
    }
}

.side-multi-colomns{
    padding: 0;
}

.story-line-widget{
    .story-strap{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background: url('assets/images/grey-bg.png') repeat-y 10px center;
        &:hover{
            .story-header{
                .story-profile-image{
                    img{
                        filter: grayscale(0);
                    }
                }
            }
        }
        .story-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width: 35%;
            padding: 15px 0;
            .green-circle{
                display:block;
                width: 20px;
                height: 20px;
                border: 3px solid $green;
                border-radius: 50%;
                background: #fff;
            }
            .story-year{
                font-family: 'GoboldBold';
                font-size: 34px;
                color: #d5d5d5;
            }
            .story-profile-image{
                img{
                    filter: grayscale(100%);
                }
            }
            .sep-line{
                display:block;
                width: 2px;
                height: 100px;
                background: $grey;
            }
        }   
        .story-desc{
            width: 65%;
            font-size: 18px;
            padding: 25px;
        }
        @media (max-width: $small-width){
            .story-header{
                width: 100%;
                justify-content: flex-start;
                .story-year{
                    margin: 0 15px;
                }
                .sep-line{
                    display:none;
                }
            }
            .story-desc{
                width: 100%;
            }
        }
    }
}

.team-member-strip{
    .tm-wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .tm-block-fullwidth{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: url('assets/images/team-bg.png') no-repeat left bottom #000;
            color: #fff;
            padding-top: 30px;
            position: relative;
            @include top-left-triangle;
            .tmf-image{
                width: 50%;
                text-align: center;
                align-self: flex-end;
                img{
                    max-width: 100%;
                    display: block;
                    width: 80%;
                }
            }
            .tmf-content{
                width: 50%;
                .tmf-name{
                    font-size: 32px;
                    margin: 0 0 10px;
                    font-family: 'ProximaNova-Bold';
                }
                .tmf-title{
                    font-size: 22px;
                    margin: 0 0 10px;
                    font-family: 'ProximaNova-Bold';
                }
                .tmf-desc{
                    font-size: 16px;
                    line-height: 20px;
                    margin: 0 0 20px;
                }
                .tmf-cta{
                    margin: 0 0 30px;
                }
            }
            @media (max-width: $small-width){
                .tmf-image{
                    width: 100%;
                }
                .tmf-content{
                    width: 100%;
                    padding: 15px;
                }
            }
        }
        .tm-block{
            width: 33%;
            margin:0 0 15px;
            .tmf-image{
                background:#000;
                padding: 15px 15px 0;
                box-sizing: border-box;
                margin: 0 0 10px;
                img{
                    max-width: 100%;
                    display: block;
                }
            }
            .tmf-name{
                font-size: 22px;
                margin: 0 0 5px;
                font-family: 'ProximaNova-Bold';
            }
            .tmf-title{
                font-size: 18px;
                margin: 0 0 5px;
            }
            .tmf-desc{
                font-size: 16px;
                line-height: 20px;
                margin: 0 0 20px;
            }
            @media (max-width: $small-width){
                width: 100%;
            }
        }
    }
}

.team-first-widget{
    .team-first-strap{
        background: url('assets/images/team-bg.png') no-repeat left bottom #000;
        color:#fff;
        display:flex;
        justify-content: center;
        align-items: center;
        .col2{
            width: 50%;
            .team-first-text-wrapper{
                box-sizing: border-box;
                padding: 30px;
                margin-right: auto;
                .text-wysiwyg {
                    font-size: 16px;
                }
            }
            .team-first-image{
                img{
                    display: block;
                }
            }
            &:first-child{
                align-self: flex-end;
            }
            
        }
        @media (max-width: 800px) {
            display:block;
            .col2{  
                display: block;
                width: 100%;
            }
        }
    }
}

.team-second-widget{
    .team-second-strap{
        color:#fff;
        display: table;
        .text-wrapper{
            width: 50%;
            display: table-cell;
            background: #000;
            box-sizing: border-box;
            padding: 50px 30px;
        }
        .image-wrapper{
            display: table-cell;
            width: 50%;
        }
        @media (max-width: 800px) {
            .text-wrapper, .image-wrapper { 
                display: block;
                width: 100%;
            }
        }
    }
}

.gallery-list-widget{
    margin: 0 0 30px;
    .gallery-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .gallery-item{
            width: 25%;
            cursor: pointer;
            position: relative;
            >img{
                position: relative;
                width: 100%;
                max-width: 100%;
                display:block;
                filter: grayscale(100%);
                transition: all .2s ease-in-out;
                z-index: 1;
                &:hover{
                    transform: scale(1.3);
                    transform-origin: center center;  
                    filter: grayscale(0);
                    z-index: 2;
                }
            }
            
            .gellery-content-wrapper{
                display:none;
                position: fixed;
                top:0;
                bottom:0;
                left:0;
                right:0;
                height: 100%;
                width: 100%;
                z-index:99;
                &.show{
                    display:block;
                }
                .gallery-content-bg{
                    background: rgba(255,255,255,0.8);
                    height: 100%;
                    width: 100%;
                }
                .gallery-content{
                    position: absolute;
                    top:50%;
                    left:0;
                    right:0;
                    width: 100%;
                    height: auto;
                    transform: translateY(-50%);
                    .gc-content-inner{
                        width: 520px;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        box-shadow: 0px 0px 27px -8px rgba(0,0,0,0.75);
                        background: #fff;
                        .gc-images{
                            width: 30%;
                        }
                        .gc-text{
                            width: 65%;
                            font-size: 16px;
                            h1,h2,h3,h4,p{
                                margin: 0 0 10px;
                            }
                        }
                        @media (max-width: 520px){
                            width: 90%;
                        }
                    }
                    
                }
            }
            @media (max-width: 1000px){
                width: 50%;
            }
            @media (max-width: $small-width){
                width: 100%;
            }
        }
    }
}

.team-related-widget{
    .team-related-strap{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .tm-block{
            text-align: center;
            width: 19%;
            display:block;
            .tm-image{
                display:block;
                width: 100%;
                max-width: 100%;
                margin: 0 0 15px;
            }
            .tm-content{
                font-size: 18px;
                color: #000;
                text-decoration: none;
                .tm-name{
                    font-family: 'ProximaNova-Bold';
                    margin: 0 0 10px;
                }
                .tm-title{
                    margin: 0 0 10px;
                }
            }
            @media (max-width: $small-width){
                width: 50%;
            }
            @media (max-width: 600px){
                width: 100%;
            }
        }
    }
}

.enroll-strip-widget{
    color: #fff;
    background: $green;
    padding: 30px 0;
    .enroll-strap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h1, h2, h3, p{
            margin: 0;
        }
    }
}

.footer-contact-map-widget{
    background: $grey;
    .footer-contact-strap{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .col2{
            width: 50%;
            display:flex;
            justify-content: flex-end;
            .footer-contact-content{
                width: 700px;
                padding: 50px;
                color: #fff;
                .fc-title{
                    font-family: 'ProximaNova-Bold';
                    font-size: 32px;
                    margin: 0 0 40px;
                }
                .fc-form{
                    input{
                        color: #fff;
                    }
                    input[type='submit']{
                        border:1px solid #fff;
                        background: transparent;
                        color: #fff;
                        padding: 8px 15px;
                    }
                }
            }   
            
            &.gm-block{
                position:relative;
                @include top-left-triangle;
                &::before{
                    border-color: transparent transparent transparent $grey;
                }
            }
            @media (max-width: 800px){
                width: 100%;
                &.gm-block{
                    height: 300px;
                }
            }
        }
        
    }
}

.contact-main-widget{
    .contact-main-strap{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .contact-content{
            width: 50%;
            color: #000;
            box-sizing: border-box;
            padding: 50px;
            .contact-list{
                font-size: 14px;
                ul{
                    list-style:none;
                    padding:0;
                    margin:0;
                    li{
                        margin: 0 0 15px;
                        >div{
                            display:flex;
                            flex-wrap: wrap;
                            >span{
                                display:inline-block;
                                width: 15px;
                                color: $green;
                                margin-right: 10px;
                                text-align:center;
                            }
                            >p{
                                margin:0;
                            }
                        }
                        a{
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }
            }
            .social-list{
                display:inline-block;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display:inline-block;
                        a{
                            color: #000;
                            display:block;
                            padding: 3px;
                            font-size: 16px;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .contact-form{
            width: 50%;
            background: $grey;
            color: #fff;
            position: relative;
            @include top-left-triangle;
            box-sizing: border-box;
            padding: 50px;
            h3{
                text-transform: uppercase;
                font-size: 24px;
                margin: 0 0 20px;
            }
            .fc-form{
                input[type='submit']{
                    border:1px solid #fff;
                    background: transparent;
                    color: #fff;
                    padding: 8px 15px;
                }
            }
        }
        @media (max-width: $small-width){
            .contact-content{
                width: 100%;
            }
            .contact-form{
                width: 100%;
            }
        }
    }
}

.post-category-block{
    ul#post-category-nav{
        list-style:none;
        width: 100%;
        margin: 30px 0;
        padding: 0;
        text-align: center;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: 2px solid $green;
        border-bottom: 2px solid $green;
        li{
            display: inline-block;
            a{
                display:block;
                padding: 12px 15px;
                color: #000;
                text-decoration: none;
                font-size: 18px;
                font-family: 'ProximaNova-Bold';
                text-align: center;
                text-transform: uppercase;
                &:hover{
                    background: $green;
                    color: #fff;
                }
                
            }
            &.actived{
                a{
                    background: $green;
                    color: #fff;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        left:50%;
                        bottom:-12px;
                        display:block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: $green transparent transparent transparent;
                        transform: translateX(-50%);
                    }
                }
                
            }
        }
        @media (max-width: 800px){
            li{
                display:block;
                width: 100%;
                &.actived{
                    a{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.post-list-widget{
    .post-list-block{
        .post-list-tools{
            .post-pagination{
                ul{
                    list-style:none;
                    display:flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    margin: 0 0 30px;
                    li{
                        display:inline-block;
                        a{
                            width: 27px;
                            height: 27px;
                            display:block;
                            border: 1px solid #b7b7b7;
                            border-left:none;
                            color: #b7b7b7;
                            text-decoration: none;
                            font-size: 14px;
                            padding: 5px;
                            text-align: center;
                            
                            &:hover{
                                background: $green;
                                color: #fff;
                            }
                            &.actived{
                                background: $green;
                                color: #fff;
                            }
                        }
                        &:first-child{
                            a{
                                border-left: 1px solid #b7b7b7;
                            }   
                        }
                    }
                }
            }
        }
        .post-list-body{
            .no-article{
                text-align: center;
            }
            .post-featured{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 50px;
                background: $grey;
                color: #fff;
                margin: 0 0 30px;
                .item-img{
                    width: 49%;
                    margin: 0 0 15px;
                    img{
                        width: 100%;
                        display:block;
                    }
                }
                .item-content{
                    width: 49%;
                    padding: 50px 20px;
                    .featured-label{
                        font-size: 22px;
                        font-family: 'ProximaNova-Bold';
                        background: $red;
                        padding: 5px 15px;
                        display:inline-block;
                        margin: 0 0 15px;
                    }
                    .post-title{
                        font-size: 32px;
                        margin: 0 0 10px;
                        font-family: 'ProximaNova-Bold';
                    }
                    .post-subtitle{
                        font-size: 22px;
                        margin: 0 0 10px;
                        font-family: 'ProximaNova-Bold';
                    }
                    .post-excerpt{
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0 0 15px;
                    }
                    .post-cta{
                        a{
                            margin: 0 10px 0 0;
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
            .post-list{
                display:flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 25px 0;
                .post-item{
                    width: 32%;
                    margin: 0 calc(4% / 6) 30px;
                    .item-img{
                        margin: 0 0 15px;
                        img{
                            width: 100%;
                            display:block;
                        }
                    }
                    .item-content{
                        .post-title{
                            font-size: 32px;
                            margin: 0 0 10px;
                            font-family: 'ProximaNova-Bold';
                        }
                        .post-subtitle{
                            font-size: 22px;
                            margin: 0 0 10px;
                            font-family: 'ProximaNova-Bold';
                        }
                        .post-excerpt{
                            font-size: 16px;
                            line-height: 20px;
                            margin: 0 0 15px;
                        }
                        .post-cta{
                            a{
                                margin: 0 10px 0 0;
                                text-decoration: none;
                                color: #000;
                            }
                        }
                    }
                }
            }
            @media (max-width: 800px){
                .post-featured{
                    .item-img{
                        width: 100%;
                    }
                    .item-content{
                        width: 100%;
                    }
                }
                .post-list{
                    .post-item{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.edu-top.right-text-widget{
    .right-text-strap{
        background: #000;
        color: #fff;
        .col2{
            .right-text-wrapper{
                padding: 30px;
            }
        }
    }
}

.education-banner-widget{
    margin: 0 0 30px;
    .banner-inner{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        position:relative;
        margin: 0 0 20px;
        @include top-left-triangle;
        .banner-text-wrapper{
            width: 50%;
            padding: 50px 0;
            .banner-text{
                color: #fff;
                .w-btn{
                    margin-top: 50px;
                }
            }
        }
        &.narrow{
            width: 55%;
            margin-left: auto;
            margin-right: auto;
        }
        @media (max-width: 1000px){
            &.narrow{
                width: 95%;
            }
        }
        @media (max-width: 800px){
            .banner-text-wrapper{
                width: 70%;
            }
        }
    }
}

.calendar-strip-widget{
    margin: 0 0 50px;
    .calendar-strip-strap{
        .calendar-strip-wrapper{
            text-align:center;
            display:flex;
            justify-content: space-around;
            align-items: center;
            height: 400px;
            i{
                color: $red;
                font-size: 60px;
            }
            .calendar-text{
                font-family: 'GoboldBold';
                color: #fff;
            }
        }
    }
}

.get-qualified-strip-widget{
    .get-qualified-strap{
        background: $red;
        padding: 30px 0;
        .text-wysiwyg{
            color: #fff;
        }
    }
}

.video-list-widget{
    .video-list-strap{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .video-box{
            text-align:center;
            width: 33.33%;
            
            .video-title{
                font-size: 18px;
                margin: 0 0 10px;
                min-height: 40px;
                font-family: 'ProximaNova-Bold';
            }
            .video-list-body{
                display:flex;
                justify-content: space-around;
                align-items: center;
                height: 300px;
            }
            .play-icon{
                font-size: 60px;            
                text-decoration: none;
                margin: 0 0 20px;
                i{
                    color: $green;
                }
            }
            @media (max-width: 800px){
                width: 100%;
                margin-bottom: 20px;
                .video-title{
                    min-height: 0;
                }
            }
        }
    }
}

.text-with-image-bg-widget{
    .text-with-image-bg-strap{
        padding: 80px 0;
        .text-wrapper{
            display:flex;
            align-items: center;
            justify-content: center;
            &.text-left{
                justify-content: flex-start;
            }
            &.text-right{
                justify-content: flex-end;
            }
            .text-wysiwyg{
                width: 35%;
                color: #fff;
            }
            @media (max-width: 800px){
                .text-wysiwyg{
                    width: 100%;
                }
            }
        }
    }
}

.post-single-widget{
    .post-single-body{
        .post-single-inner{
            width: 80%;
            margin: 0 auto;
            .post-single-toolbar{
                display: flex;
                justify-content: space-between;
                a{
                    display:inline-block;
                    padding: 8px 15px;
                    margin: 5px;
                    color: $green;
                    border: 1px solid $green;
                    text-decoration: none;
                    font-size: 18px;
                    font-family: 'ProximaNova-Bold';
                    text-align: center;
                    text-transform: uppercase;
                    &:hover{
                        background: $green;
                        color: #fff;
                    }
                }
                .nav-links{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                }
            }
            .post-body{
                img{
                    width: 100%;
                    display:block;
                    margin: 20px 0;
                }
            }
            .post-share{
                padding: 25px 0;
                display:flex;
                justify-content: flex-start;
                align-items: center;
                ul.post-social{
                    list-style:none;
                    padding:0;
                    margin:0 0 0 15px;
                    
                    li{
                        display:inline-block;
                        a{
                            text-decoration: none;
                            color: #000;
                            display:block;
                            padding: 5px;
                            font-size: 20px;
                        }
                    }
                }
            }
            .comment-form-flex{
                margin: 0 0 35px;
                p{
                    margin: 0 0 15px;
                }
                label{
                    display:block;
                    font-size: 16px;
                    font-family: 'ProximaNova-Semibold';
                    margin: 0 0 5px;
                }
                textarea{
                    width: 100%;
                }
                input[type="text"], input[type="email"], input[type="url"]{
                    width: 100%;
                }
                input[type="submit"]{
                    border:0;
                    color: #fff;
                    background: $green;
                    padding: 8px 13px;
                }
                .comment-form-author{
                    display:inline-block;
                    width: 48.5%;
                    margin-right: 1%;
                }
                .comment-form-email{
                    display:inline-block;
                    width: 48.5%;
                    margin-left: 1%;
                }
                .comment-form-cookies-consent{
                    display:none;
                }
            }
            .comment-list{
                list-style:none;
                padding: 0;
                margin: 0 0 50px;
                li.comment{
                    margin: 0 0 20px;
                }
                .comment-body{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    .comment-author{
                        width: 75px;
                        img{
                            display:block;
                            width: 100%;
                        }
                    }
                    .comment-text{
                        width: calc(100% - 100px);
                        .auther-name{
                            font-family: 'ProximaNova-Bold';
                            font-size: 18px;
                            margin: 0 0 10px;
                        }
                        .comment-content{
                            font-size: 18px;
                            margin: 0 0 10px;
                        }
                    }
                    
                }
            }
            @media (max-width: $small-width){
                width: 100%;
            }
        }
    }
}

.product-page-header-widget{
    margin: 0 0 50px;
    .product-page-header{
        position: relative;
        background-size: cover !important;
        padding: 110px 0;
        .pph-content{
            text-align: right;
            .pph-content-inner{
                display:inline-block; 
                text-align: left;
                .pph-wrapper{
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                }
                .text-wrapper{
                    background: $green;
                    width: 450px;
                    height: 250px;
                    color: #fff;
                    padding: 25px;
                    margin: 0 0 10px;
                    .p-name{
                        margin: 0 0 15px;
                    }
                }
            }
        }
    }
}

.product-banner-1{
    margin-top: 30px;
    .left-text-strap{
        background-image: linear-gradient(to bottom, #fff 0%, #fff 15%, #f5f5f5 15%, #f5f5f5 100%);
        .col2{
            .text-wrapper{
                padding-bottom: 20px;
            }
        }
    }
}

.product-page-gallery-widget{
    .product-page-gallery{
        .mcl-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img{
                display:block;
            }
        }
    }
}

.product-page-cta-widget {
    background: $green;
    color: #fff;
    text-align: center;
    .product-page-cta{
        padding: 30px 0;
        .b-btn{
            background: #000;
            color: #fff;
            border: 1px solid #000;
        }
    }
}

.product-page-multiple-column-layout-widget{
    .product-page-multiple-column-layout{
        text-align: center;
        padding: 50px 0;
        .mcl-header, .mcl-footer{
            font-size: 28px;
            margin: 0 0 25px;
        }
        .mcl-content{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            .mcl-col{
                .mcl-col-inner{
                    .mcl-col-image{
                        margin: 0 0 25px;
                        text-align: center;
                        img{
                            display:inline-block;
                            vertical-align: middle;
                            max-width: 100%;
                        }
                    }
                    .mcl-col-text{
                        margin: 0 0 25px;
                    }
                }
                @media (max-width: 800px) {
                    width: 100% !important;
                }
            }
        }
    }
}

.product-page-banner-widget{
    .product-page-banner{
        background: #000;
        .banner-inner{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .col-2{
                width: 50%;
                .banner-text-wrapper{
                    padding: 120px 0;
                    .banner-text{
                        color: #fff;
                    }
                }
                @media (max-width: 800px) {
                    width: 100% !important;
                }
            }
        }
        
    }
}

.woo-bundle-widget{
    margin: 30px 0 20px;
    .woo-bundle-strap{
        background: $green;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        @media (max-width: 800px){
            flex-direction: column;
        }
        .col2{
            width: 50%;
            // display:flex;
            // justify-content: flex-start;
            @media (max-width: 800px) {
                width: 100% !important;
            }
            .text-wrapper{
                box-sizing: border-box;
                padding: 80px 30px;
                margin-right: auto;
                width: 700px;
                background: $green;
                position: relative;
                @include top-left-triangle;
                @media (max-width: 1400px){
                    padding: 50px 30px;
                    width: 100%;
                }
            }
            img{
                display: block;
            }
            .bundle-form{
                width: 100%;
                .form-row{
                    margin: 0 0 15px;
                    select{
                        width: 100%;
                        border:0;
                        background: #fff;
                        color: #000;
                        padding: 8px;
                        height: 35px;
                        border-radius: 4px;
                    }
                    .learn-more{
                        font-family: 'ProximaNova-Semibold';
                        display:inline-block;
                        padding: 7px 10px;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.product-list-page{
    ul.products{
        li.product{
            .product-box{
                .onsale{
                    display:none;
                }
                img{
                    margin: 0 0 15px;
                }
                h2.woocommerce-loop-product__title{
                    font-family: 'ProximaNova-bold';
                    font-size: 20px;
                    margin: 0 0 25px;
                    padding: 0;
                    text-transform: uppercase;
                    color: #000;
                }
                .product-desc{
                    font-size: 16px;
                    color:#000;
                    line-height: 20px;
                    margin: 0 0 25px;
                }
                .product-price{
                    font-family: 'GoboldBold';
                    margin: 0 0 25px;
                    text-decoration: none;
                    .price{
                        display:inline-block;
                        font-size: 30px;
                        color: #000;
                        margin-right: 10px;
                    }
                    .sale-price{
                        display:inline-block;
                        font-size: 18px;
                        color: #000;
                    }
                    
                    
                }
                .learn-more{
                    font-family: 'ProximaNova-Semibold';
                    display:inline-block;
                    padding: 7px 10px;
                    color: #000;
                    margin-left: 10px;
                }
            }
        }
    }
}