.partner-list{
    text-align: center;
    box-sizing: border-box;
    padding: 15px 0;
    .partner-list-title{
        font-family: 'GoboldBold';
        font-size:16px;
        margin: 0 0 12px;
    }
    .partner-list-content{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .pl-block{
            width: 10%;
            text-align: center;
            vertical-align: middle;
            box-sizing: border-box;
            img{
                display:inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
        }
    }
}

#home-slider{
    .embed-responsive{
        height: 475px;
        width: 100%;
        background-size: cover !important;
        position: relative;
    }
    .home-slider-content{
        z-index: 49;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        text-align: right;
        .home-slider-content-inner{
            display:inline-block; 
            text-align: left;
            .hs-wrapper{
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
            }
            .home-slide-text{
                background: $green;
                width: 450px;
                height: 250px;
                color: #fff;
                padding: 25px;
                margin: 0 0 10px;
            }
            .home-slide-small{
                font-family: 'ProximaNova-LightIt';
                font-size: 17px;
                color:#fff;
            }
        }
    }
    .slick-dots{
        list-style: none;
        margin:0;
        padding:0;
        display: block;
        text-align: left;
        z-index: 50;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 29px;
        padding-right: 150px;
        li{
            float: right;
            margin: 3px;
            button{
                background: #919191;
                border-radius: 50%;
                font-size:0;
                width: 15px;
                height: 15px;
                border:0;
            }
            &.slick-active{
                button{
                    background: #fff;
                }
            }
        }
        
    }
}

.right-text-widget{
    .right-text-strap{
        background: #f5f5f5;
        display:flex;
        justify-content: center;
        align-items: center;
        .col2{
            width: 50%;
            .right-text-wrapper{
                width: 700px;
                box-sizing: border-box;
                padding: 150px 30px;
                margin-right: auto;
            }
        }
    }
}


.multiple-column-layout{
    padding: 80px 0;
    .mcl-header{
        margin: 0 0 25px;
    }
    .mcl-content{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        .mcl-col{
            .mcl-col-inner{
                .mcl-col-header{
                    margin: 0 0 25px;
                }
                .mcl-col-image{
                    margin: 0 0 25px;
                    text-align: center;
                    img{
                        display:inline-block;
                        vertical-align: middle;
                        max-width: 100%;
                    }
                }
                .mcl-col-footer{
                    margin: 0 0 25px;
                }
            }
        }
    }
    // .mcl-footer{

    // }
}

.left-right-fullwidth-widget{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .col2{
        width: 50%;
        overflow:hidden;
        &:first-child{
            .lr-block{
                justify-content: flex-end;
            }
        }
        &:nth-child(2){
            .lr-block{
                justify-content: flex-start;
            }
        }
        .lr-block{
            position:relative;
            width: 100%;
            padding: 140px 60px;
            display:flex;
            flex-wrap:wrap;
            box-sizing: border-box;
            &:before{
                content:"";
                position: absolute;
                z-index: 1;
                left:0;
                right:0;
                top:0;
                bottom:0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.75);
            }
            
            .lr-block-inner{
                text-align:left;
                z-index: 1;
                width: 600px;
                height: 250px;
                display:inline-block;
                color: #fff !important;
                .lr-title{
                    display: inline-block;
                    padding: 8px 15px;
                    background: $green;
                    color: #000;
                    margin: 0 0 15px;
                    font-family: 'ProximaNova-Bold';
                    font-size: 15px;
                }
                .lr-content{
                    margin: 0 0 15px;
                    h3{
                        color: #fff !important;
                    }
                }
            }
        }
    }
}


.home-course{
    text-align: center;
    .mcl-col-header{
        width: 60%;
    }
    .mcl-content{
        .mcl-col{
            &:hover{
                background: $green;
                color:#fff;
            }
            .mcl-col-inner{
                .mcl-col-image{
                    margin: 40px auto;
                    width: 80%;
                }
                .mcl-col-footer{
                    margin: 40px auto;
                    width: 80%;
                    h2{
                        margin: 0 0 10px;
                    }
                }
            }
        }
    }
    
}

.home-map{
    text-align: center;
    background: #f3f3f3;
    .cta{
        a{
            display:inline-block;
            margin:10px;
        }
    }
}

.home-education{
    .mcl-content{
        .mcl-col{
            &:hover{
                background: $green;
                color:#fff;
            }
            .mcl-col-inner{
                .mcl-col-image{
                    margin: 40px auto;
                    width: 80%;
                }
                .mcl-col-footer{
                    margin: 40px auto;
                    width: 80%;
                    h2{
                        margin: 0 0 10px;
                    }
                }
            }
        }
    }
    .cta{
        a{
            display:inline-block;
            margin:10px;
        }
    }
}

.home-banner-widget{
    margin: 0 0 30px;
    .banner-inner{
        display:flex;
        justify-content: flex-end;
        position:relative;
        &:before{
            content:'';
            display:block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 0 20px 40px;
            border-color: transparent transparent transparent #ffffff;
            position: absolute;
            z-index: 5;
            top:40px;
            left:0;
        }
        .banner-text-wrapper{
            width: 40%;
            padding: 50px 70px 50px 150px;
            .banner-text{
                color: #fff;
                .w-btn{
                    margin-top: 50px;
                }
            }
        }
    }
}

#testimonial-slider{
    .t-slider-content{
        .t-slider-content-inner{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            height: 585px;
            overflow: hidden;
            .t-slider-image{
                width: 48%;
                overflow: hidden;
                text-align: left;
                align-self: center;
                img{
                    max-width: 100%;
                    display:inline-block;
                }
            }
            .t-slider-text{
                width: 49.5%;
                overflow: hidden;
                background: $green;
                color: #fff;
                padding: 7%;
                text-align: left;
                position: relative;
                &::before{
                    content:"";
                    display:block;
                    position: absolute;
                    top:30px;
                    left:0;
                    z-index:5;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 0 20px 30px;
                    border-color: transparent transparent transparent #ffffff;
                }
                .ts-name{
                    font-family: 'ProximaNova-Bold';
                    font-size: 32px;
                    line-height: 36px;
                    margin: 0 0 20px;
                }
                .ts-title{
                    font-family: 'ProximaNova-Bold';
                    font-size: 22px;
                    line-height: 26px;
                    margin: 0 0 20px;
                }
                .ts-words{
                    font-family: 'ProximaNova-RegularIt';
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0 0 20px;
                    .ts-quote{
                        font-family: 'ProximaNova-Bold';
                        &:last-child{
                            text-align: right;
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                flex-direction: column;
                height: auto;
                .t-slider-image{
                    width: 100%;
                    text-align: center;
                }
                .t-slider-text{
                    width: 100%;
                }
            }
        }
    }
    .slick-dots{
        list-style: none;
        margin:0;
        padding:0;
        display: block;
        text-align: left;
        z-index: 50;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 29px;
        padding-right: 150px;
        li{
            float: right;
            margin: 3px;
            button{
                background: #919191;
                border-radius: 50%;
                font-size:0;
                width: 15px;
                height: 15px;
                border:0;
            }
            &.slick-active{
                button{
                    background: #fff;
                }
            }
        }
        
    }
    .ts-bottom{
        font-family: 'ProximaNova-Bold';
        font-size: 16px;
        padding: 20px 0;
        border-bottom: 2px solid $green;
        margin: 0 0 25px;
        a{
            text-decoration: none;
            color: #000;
            &::after{
                content:">";
                display:inline-block;
                margin-left: 12px;
                font-size: 30px;
                vertical-align: middle;
            }
        }
    }
}

.footer-subscription-widget{
    margin-top: 90px;
    .footer-subscription-wrapper{    
        padding: 60px 0 0;
       .fs-inner{
           display:flex;
           justify-content: space-around;
           flex-wrap: wrap;
           flex-direction: row;
           align-items: flex-end;
           height: 330px;
            .fs-image{
                width: 50%;
                position: relative;
                img{
                    position: absolute;
                    bottom: 0;
                    display: block;
                    left: 0;
                    max-width: 100%;
                }
            }
            .fs-content{
                width: 50%;
                align-self: center;
                color: #fff;
                .fs-content-inner{
                    box-sizing: border-box;
                    padding: 50px;
                    form{
                        width:100;
                    }
                    .w-btn{
                        margin-top: 20px;
                    }
                }
            }
       } 
    }
}

.footer-video-widget{
    .footer-video-strap{
        .footer-video-wrapper{
            text-align:center;
            display:flex;
            justify-content: space-around;
            align-items: center;
            height: 400px;
            .play-icon{
                font-size: 60px;            
                text-decoration: none;
                margin: 0 0 20px;
                i{
                    color: $green;
                }
            }
            .video-text{
                font-family: 'GoboldBold';
                color: #fff;
            }
        }
    }
}

.footer-contact-widget{
    .footer-contact-strap{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .col2{
            width: 50%;
            .footer-contact-content{
                color: #fff;
                padding: 40px 0;
                .fc-title{
                    font-family: 'ProximaNova-Bold';
                    font-size: 32px;
                    margin: 0 0 40px;
                }
                .fc-form{
                    input{
                        color: #fff;
                    }
                    input[type='submit']{
                        border:0;
                        background: $green;
                        color: #fff;
                        padding: 8px 15px;
                    }
                }
            }
        }
    }
}

.side-menu-widget{
    .side-menu-inner{
        border-top: 4px solid $green;
        width: 80%;
        .sidemenu-title{
            padding: 25px;
            font-family: 'ProximaNova-Bold';
            color: #313136;
            border-bottom: 1px solid #d0d0d0;
            font-size: 24px;
        }
        .sidemnu-content{
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    border-bottom: 1px solid #d0d0d0;
                    a{
                        text-decoration: none;
                        font-family: 'ProximaNova-Bold';
                        font-size: 20px;
                        display:block;
                        padding: 20px 25px;
                        color: #313136;
                    }
                    &.actived{
                        a{
                            background: #ededed;
                        }
                    }
                }
            }
        }
    }   
}

.page-header-widget{
    padding: 50px 0;
    margin: 0 0 50px;
    .p-title{
        font-size: 40px;
        margin: 0 0 20px;
        font-family: 'GoboldBold';
        color: #fff;
    }
    .p-breadcrumbs{
        color: #fff;
        font-size: 16px;
        a{
            text-decoration: none;
            color:#fff;
        }
    }
}

.side-multi-colomns{
    padding: 0;
}

.story-line-widget{
    .story-strap{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background: url('assets/images/grey-bg.png') repeat-y 10px center;
        &:hover{
            .story-header{
                .story-profile-image{
                    img{
                        filter: grayscale(0);
                    }
                }
            }
        }
        .story-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width: 35%;
            padding: 15px 0;
            .green-circle{
                display:block;
                width: 20px;
                height: 20px;
                border: 3px solid $green;
                border-radius: 50%;
                background: #fff;
            }
            .story-year{
                font-family: 'GoboldBold';
                font-size: 34px;
                color: #d5d5d5;
            }
            .story-profile-image{
                img{
                    filter: grayscale(100%);
                }
            }
            .sep-line{
                display:block;
                width: 2px;
                height: 100px;
                background: $grey;
            }
        }   
        .story-desc{
            width: 65%;
            font-size: 18px;
            padding: 25px;
        }
    }
}

.team-member-strip{
    .tm-wrapper{
        .tm-block-fullwidth{
            display:flex;
            flex-wrap: row;
            justify-content: space-between;
            .tmf-image{
                width: 50%;
                text-align: center;
                img{
                    max-width: 100%;
                    display:inline-block;
                }
            }
            .tmf-content{
                width: 50%;
                .tmf-name{

                }
                .tmf-title{

                }
                .tmf-desc{

                }
                .tmf-cta{

                }
            }
        }
        .tm-block{

        }
    }
}