.site-header{
    .header-top{
        text-align: right;
        padding: 10px 0;
        .social-top-menu{
            display:inline-block;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    display:inline-block;
                    a{
                        color: #000;
                        display:block;
                        padding: 3px;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .header-middle{
        background: #000;
        color: #fff;
        .site-description{
            font-size: 14px;

        }
        .secondary-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    display:inline-block;
                    a{
                        color: #fff;
                        display:block;
                        padding: 9px 5px;
                        text-align: center;
                        text-decoration: none;
                        height: 25px;
                        font-size: 14px;
                        line-height: 25px;
                        &:hover{
                            background: $green;
                        }
                    }
                }
            }
        }
    }

    .header-bottom{
        box-sizing: border-box;
        padding: 10px 0;
        #site-navigation{
            .menu-main-container{
                display: inline-block;
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    display:inline-block;
                    font-size: 12px;
                    vertical-align: middle;
                    a{
                        text-transform: uppercase;
                        font-family: 'ProximaNova-Bold';
                        font-size: 13px;
                        color: #000;
                        display:inline-block;
                        padding: 5px;
                        text-align: center;
                        text-decoration: none;
                        &:hover{
                            color: $green;
                        }
                    }
                    &:last-child{
                        span{
                            display: none;
                        }
                    }
                }
            }
            #header-search{
                display:inline-block;
                padding: 5px 0 5px 13px;
                #header-search-btn{
                    display:inline-block;
                    font-size: 20px;
                    color: #000;
                    text-decoration: none;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }

    .mobile-header{
        display:none;
    } 

    @media (max-width: 800px){
        .header-top, .header-middle, .header-bottom{
            display:none;
        }
        .mobile-header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            .mh-left{
                #mb-menu-btn{
                    color:#000;
                    font-size: 30px;
                    padding: 0 10px 0 10px;
                }
            }
            .mh-right{
                padding-right: 10px;
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display:inline-block;
                        a{
                            color: #000;
                            display:block;
                            padding: 9px 5px;
                            text-align: center;
                            text-decoration: none;
                            font-size: 30px;
                            position: relative;
                            span{
                                display:inline-block;
                                font-size: 11px;
                                line-height: 16px;
                                width: 15px;
                                height: 15px;
                                background: $green;
                                border-radius: 50%;
                                text-align: center;
                                color: #fff;
                                position: absolute;
                                top: 16px;
                                right: -4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#mobile-menu-block{
    height: 100%;
    width: calc(100% - 40px);
    position: fixed;
    text-align: center;
    background: #1a1a1a;
    color: #fff;
    padding: 30px 0;
    z-index: 99;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(150%);
    &.opened{
        transition: 0.5s;
        transform: translateX(45px);
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    ul{
        list-style:none;
        margin: 0;
        padding: 0;
    }
    .mmb-header{
        margin: 0 0 30px;
        img{
            display:block;
            width: 80%;
            max-width: 80%;
            margin: 0 auto;
        }
    }
    .mmb-sub-header{
        display:flex;
        justify-content: center;
        .col-2{
            width: 50%;
            a{
              display:block;
              padding: 15px;
              text-align: center; 
              &.mmb-acount{
                  background: $green;
              }
              &.mmb-cart{
                  background: $grey;
              }
            }
        }
    }
    .mmb-subscription{
        padding: 20px 0;
        p{
            font-size: 14px;
            margin: 0 0 7px;
        }
        input{
            background: url("assets/images/envelope-shape.png") no-repeat 10px center #000;
            color: #fff;
            border: 0;
            padding: 10px 45px 10px 50px;
        }
    }
    .mmb-menu{
        .menu-mobile-menu-container{
            width: 80%;
            margin: 0 auto;
            ul{
                li{
                    padding: 5px;
                    >a{
                        text-transform: uppercase;
                        display:block;
                    }
                    &.current_page_item{
                        >a{
                            color:$green;
                        }
                    }
                    .sub-menu{
                        display:none;
                        padding:10px 0;
                        li{
                            padding:0;
                            a{
                                border-top: 1px solid #6d6565;
                                border-bottom: 1px solid #6d6565;
                                padding:10px 0;
                                display:block;
                                background: rgba(216, 236, 226, 0.1);
                            }
                        }
                        
                    }
                }
            }
        }
        
    }
    .mmb-social{
        padding: 20px 0;
        ul{
            margin: 0;
            padding: 0;
            li{
                display:inline-block;
                a{
                    color: #fff;
                    font-size: 25px;
                    padding: 8px;
                }
            }
        }
    }
    .mmb-footer-menu{
        ul{
            li{
                display:inline-block;
                a{
                    color: #fff;
                    font-size: 12px;
                    padding: 8px;
                    text-decoration: none;
                    &:hover{
                        color: $green;
                    }
                }
                &::after{
                    content: '|';
                    display: inline-block;
                }
                &:last-child{
                    &::after{
                        display:none;
                    }
                }
            }
        }
    }
    @media (max-width: 800px){
        display:block;
    }
}