
/** === Layout === */

body{
	font-family: 'ProximaNova-Regular';
}

.site-content {
	overflow: hidden;
}


.content-inner{
	max-width: $content-width;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	&.withPadding{
		padding: 0 10px;
	}
	@media screen{
		
	}
}

.col-2-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.triangle-strip{
	width: 25px;
	height: 250px;
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	.t1{
		width: 100%;
		height: 50px;
		background: $green;
	}
	.t2{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 25px 25px 0;
		border-color: transparent $green transparent transparent;
	}
	.t3{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 25px 25px;
		border-color: transparent transparent $green transparent;
	}
	.t4{
		width: 100%;
		height: 150px;
		background: $green;
	}
}



.elementor-section.elementor-section-boxed>.elementor-container{
	max-width: none !important;
}
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
	padding: 0 !important;
}

@import "header";
@import "footer";