// color

$green: #9aca3c;
$grey: #3b3b3b;
$light-grey: #f5f5f5;
$secText: #313136;

@font-face {
  font-family: 'Gobold';
  src: url('fonts/Gobold.eot?#iefix') format('embedded-opentype'),  
      url('fonts/Gobold.woff') format('woff'), 
      url('fonts/Gobold.ttf')  format('truetype'), 
      url('fonts/Gobold.svg#Gobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gobold-Italic';
  src: url('fonts/Gobold-Italic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/Gobold-Italic.woff') format('woff'), 
  url('fonts/Gobold-Italic.ttf')  format('truetype'), 
  url('fonts/Gobold-Italic.svg#Gobold-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldBold';
  src: url('fonts/GoboldBold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/GoboldBold.woff') format('woff'), 
  url('fonts/GoboldBold.ttf')  format('truetype'), 
  url('fonts/GoboldBold.svg#GoboldBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldBold-Italic';
  src: url('fonts/GoboldBold-Italic.eot?#iefix') format('embedded-opentype'),  
    url('fonts/GoboldBold-Italic.woff') format('woff'), 
    url('fonts/GoboldBold-Italic.ttf')  format('truetype'), 
    url('fonts/GoboldBold-Italic.svg#GoboldBold-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldThin';
  src: url('fonts/GoboldThin.eot?#iefix') format('embedded-opentype'),  
    url('fonts/GoboldThin.woff') format('woff'), 
    url('fonts/GoboldThin.ttf')  format('truetype'), 
    url('fonts/GoboldThin.svg#GoboldThin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldThin-Italic';
  src: url('fonts/GoboldThin-Italic.eot?#iefix') format('embedded-opentype'),  
    url('fonts/GoboldThin-Italic.woff') format('woff'), 
    url('fonts/GoboldThin-Italic.ttf')  format('truetype'), 
    url('fonts/GoboldThin-Italic.svg#GoboldThin-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldThinLight';
  src: url('fonts/GoboldThinLight.eot?#iefix') format('embedded-opentype'),  
    url('fonts/GoboldThinLight.woff') format('woff'), 
    url('fonts/GoboldThinLight.ttf')  format('truetype'), 
    url('fonts/GoboldThinLight.svg#GoboldThinLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoboldThinLight-Italic';
  src: url('fonts/GoboldThinLight-Italic.eot?#iefix') format('embedded-opentype'),  
    url('fonts/GoboldThinLight-Italic.woff') format('woff'), 
    url('fonts/GoboldThinLight-Italic.ttf')  format('truetype'), 
    url('fonts/GoboldThinLight-Italic.svg#GoboldThinLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url('fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-Black.otf')  format('opentype'),
    url('fonts/ProximaNova-Black.woff') format('woff'), 
    url('fonts/ProximaNova-Black.ttf')  format('truetype'), 
    url('fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-Bold.otf')  format('opentype'),
    url('fonts/ProximaNova-Bold.woff') format('woff'), 
    url('fonts/ProximaNova-Bold.ttf')  format('truetype'), 
    url('fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-BoldIt';
  src: url('fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-BoldIt.otf')  format('opentype'),
    url('fonts/ProximaNova-BoldIt.woff') format('woff'), 
    url('fonts/ProximaNova-BoldIt.ttf')  format('truetype'), 
    url('fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-Extrabld.otf')  format('opentype'),
    url('fonts/ProximaNova-Extrabld.woff') format('woff'), 
    url('fonts/ProximaNova-Extrabld.ttf')  format('truetype'), 
    url('fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-Light.otf')  format('opentype'),
    url('fonts/ProximaNova-Light.woff') format('woff'), 
    url('fonts/ProximaNova-Light.ttf')  format('truetype'), 
    url('fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-LightIt.otf')  format('opentype'),
    url('fonts/ProximaNova-LightIt.woff') format('woff'), 
    url('fonts/ProximaNova-LightIt.ttf')  format('truetype'), 
    url('fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-Regular.otf')  format('opentype'),
    url('fonts/ProximaNova-Regular.woff') format('woff'), 
    url('fonts/ProximaNova-Regular.ttf')  format('truetype'), 
    url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url('fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-RegularIt.otf')  format('opentype'),
    url('fonts/ProximaNova-RegularIt.woff') format('woff'), 
    url('fonts/ProximaNova-RegularIt.ttf')  format('truetype'), 
    url('fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  
    url('fonts/ProximaNova-Semibold.otf')  format('opentype'),
    url('fonts/ProximaNova-Semibold.woff') format('woff'), 
    url('fonts/ProximaNova-Semibold.ttf')  format('truetype'), 
    url('fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.w-btn{
  font-family: 'ProximaNova-Semibold';
  display:inline-block;
  padding: 7px 10px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 16px;
  line-height: 16px;
}

.b-btn{
  font-family: 'ProximaNova-Semibold';
  display:inline-block;
  padding: 7px 10px;
  border: 1px solid #000;
  color: #000;
  background: transparent;
  font-size: 16px;
  line-height: 16px;
  &:hover{
    border-color: $green;
    background:$green;
    color: #fff;
  }
}

.text-wysiwyg{
  font-size: 18px;
  h2{
      font-size: 28px;
      font-family: 'ProximaNova-Bold';
      margin: 0 0 20px;
      line-height: 32px;
  }
  h3{
      font-size: 24px;
      font-family: 'ProximaNova-Bold';
      margin: 0 0 15px;
      line-height: 28px;
      color: $secText;
  }
  p{
      margin: 0 0 15px;
      line-height: 22px;
  }
  ul{
      list-style:none;
      margin: 15px 0;
      padding: 0;
      li{
          margin: 0 0 5px;
          font-size: 18px;
          &:before{
              content: '';
              display:inline-block;
              width: 20px;
              height: 20px;
              background: url('assets/images/icon/list-icon.png') no-repeat center center;
              background-size: contain;
              margin-right: 10px;
              vertical-align: -3px;
          }
      }
  }
  hr{
      width: 25%;
      border:0;
      border-top: 5px solid $green;
      margin: 25px 0 !important;
  }
  small{
    font-size: 75%;
  }
}

$content-width: 1440px;