
@import "fonts";

// color
$green: #9aca3c;
$grey: #3b3b3b;
$red: #d8242f;
$light-grey: #f5f5f5;
$secText: #313136;

$small-width: 800px;
$content-width: 1440px;

.w-btn{
  font-family: 'ProximaNova-Semibold';
  display:inline-block;
  padding: 7px 10px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 16px;
  line-height: 16px;
  &:hover{
    border-color: $green;
    background:$green;
    color: #fff;
  }
}

.b-btn{
  font-family: 'ProximaNova-Semibold';
  display:inline-block;
  padding: 7px 10px;
  border: 1px solid #000;
  color: #000;
  background: transparent;
  font-size: 16px;
  line-height: 16px;
  &:hover{
    border-color: $green;
    background:$green;
    color: #fff !important;
  }
}

.g-btn{
  font-family: 'ProximaNova-Semibold';
  display:inline-block;
  padding: 7px 10px;
  border: 1px solid $green;
  color: #fff;
  background: $green;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  &:hover{
    background: #fff;
    color: $green;
  }
}

.btn-arrow{
  font-family: 'ProximaNova-Semibold';
  display:inline-block;
  padding: 7px 10px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 16px;
  line-height: 16px;
  span{
    &:after{
      content: '';
      display:inline-block;
      width: 20px;
      height: 20px;
      background: url('assets/images/icon/w-arrow.png') no-repeat center center;
      background-size: contain;
      margin-left: 10px;
      vertical-align: -3px;
    }
  }
  &:hover{
    border-color: $green;
    background:$green;
    color: #fff;
  }
}

a.tick{
  &:before{
    content:"\f00c";
    font-family: FontAwesome;
    font-size: 18px;
    display:inline-block;
    margin-right: 10px;
  }
}

a.download-btn{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  margin-left: 15px;
  &:before{
    content:"\f019";
    font-family: FontAwesome;
    font-size: 18px;
    display:inline-block;
    margin-right: 8px;
  }
  &:hover{
    color: $green;
  }
  &.white{
    color: #fff;
  }
  @media (max-width: 800px){
    padding: 0;
    margin: 10px 0;
    display:block;
  }
}

.text-wysiwyg{
  font-size: 18px;
  h2{
      font-size: 28px;
      font-family: 'ProximaNova-Bold';
      margin: 0 0 20px;
      line-height: 32px;
  }
  h3{
      font-size: 24px;
      font-family: 'ProximaNova-Bold';
      margin: 0 0 15px;
      line-height: 28px;
  }
  p{
      margin: 0 0 15px;
      line-height: 22px;
  }
  ul{
      list-style:none;
      margin: 15px 0;
      padding: 0;
      li{
          margin: 0 0 5px;
          font-size: 18px;
          &:before{
              content: '';
              display:inline-block;
              width: 20px;
              height: 20px;
              background: url('assets/images/icon/list-icon.png') no-repeat center center;
              background-size: contain;
              margin-right: 10px;
              vertical-align: -3px;
          }
      }
  }
  hr{
      width: 25%;
      border:0;
      border-top: 5px solid $green;
      margin: 25px 0 !important;
  }
  small{
    font-size: 75%;
  }
  strong{
    font-family: 'ProximaNova-Bold';
  }
  .red-bg{
    font-family: 'GoboldBold';
    display:inline-block;
    background: $red;
    color: #fff;
    padding: 6px 12px;
  }
  .green-bg{
    font-family: 'GoboldBold';
    display:inline-block;
    background: $green;
    color: #fff;
    padding: 6px 12px;
  }
}

.form-row{
  margin:0 0 15px;
  .form-row-cols{
    display:flex;
    justify-content: space-between;
    .form-col2{
      width: 49%;
    }
  }
  
  label{
    display:block;
    width: 100%;
    font-size: 17px;
  }
  input[type="text"], input[type="email"], textarea{
    color:#fff;
    background: transparent;
    border:0;
    border-bottom: 1px solid #fff;
    width:100%;
  }
}

// coach post type
.type-coach{
  .page-header-widget, .elementor-widget-page_header{
      margin:0 !important;
  }
  #testimonial-slider{
      margin: 50px 0;
  }
}

#post-26{
  #testimonial-slider{
    padding: 80px 0;
  }
  .service-main-1, .service-main-2{
    .text-wrapper{
      padding: 30px !important;
    } 
  }
}

#post-37{
  .elementor-widget-footer_subscription{
    margin-top: -170px;
    @media (max-width: $small-width){
      margin-top: 0;
    }
  }
}

#post-375{
  .calendar-strip-widget{
    margin: 0;
  }
  .right-text-widget .right-text-strap .col2 .text-wrapper{
    padding: 90px 30px;
  }
}

.right-text-widget.performance-left{
  .right-text-strap{
    background: #e6e6e6;
    .col2{
      &:last-child{
        background: url('assets/images/performance-bg.jpg') no-repeat center right #e6e6e6;
        @media (max-width: 1280px){
           background: #e6e6e6;
        }
      }
      .text-wrapper{
        width: 540px;
        padding: 125px 30px;
        @media (max-width: 800px){
          width: 100%;
       }
      }
    }
  } 
}


@mixin top-left-triangle{
  &::before{
    content:"";
    display:block;
    position: absolute;
    top:30px;
    left:0;
    z-index:5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
  }
}
