.woocommerce-ordering{
    display:none;
}
.woocommerce-result-count{
    display:none;
}

.product-single-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    z-index:10;
}

.product-single-msg, .product-single-error-msg{
    position: fixed;
    z-index: 11;
    top: 35%;
    left:50%;
    transform: translateX(-50%);
    background: #fff;
    border: 2px solid $green;
    text-align: center;
    padding: 15px;
    font-family: 'ProximaNova-Semibold';
    width: 400px;
    max-width: 80%;
    .psg-inner{
        padding: 15px 30px 30px;
    }
    .psm-close{
        float:right;
        font-size: 24px;
        color: $green;
    }
}

.add-to-cart-btn{
    position: relative;
    &.loading::after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: FontAwesome;
        font-weight: 900;
        line-height: inherit;
        content:"\f110";
        -webkit-animation: fa-spin 1s linear infinite;
        animation: fa-spin 1s linear infinite;
        margin-left: 10px;
        margin-top: -10px;
        display: inline-block;
    }
}